<% include partials/header %>



<div class="ui items inverted divided segment container main">
    <h2 class="ui icon header center aligned">
      <i class="list alternate outline icon"></i>
      <div class="content" style="color:rgba(255,255,255,.9);">
        List of Games
        <div class="sub header" style= "color: rgba(255, 255, 255,.7);">Feel Free to add more Game Entries!</div>
      </div>
    </h2>
    <% games.forEach(function(game){ %>
        <div class="item">
           <div class="ui rounded image medium">
             <img src="<%= game.image %>">
           </div>
           <div class="content ">
             <a class=" header" href="/games/<%=game._id%>"><%= game.title %></a>
             <div class=" meta">
               Released On : <%= game.released.toDateString() %>
               Publisher: <%= game.publisher %>
             </div>
             <div class="description">
               <p><%- game.body.substring(0,150) %>...<p>
             </div>
             <div class="extra">
               <span>Posted: <%= game.created %> </span>
             </div>
           </div>
         </div>
    <% }); %>
</div>

<% include partials/footer %>
